
@media only screen and (min-width : 320px) {

}


@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
	.header-info {
	  width: 480px; height: 100%;
	  padding: 60px 20px;
	  font-size: 1.4em;
	  line-height: 1.9em;
	  text-align: left;
	  margin-left: 130px;
	  background-color: rgba(20,20,20,0.9);
	  color: #e5e5e5;
	  font-weight: 300;
}
	
	.vertical-center {
	line-height: 60px; 
	margin-top: 10px;
}
	
	.img-coop img{
	  margin: 50px 20px;
	  max-height: 80px;
}
	
	.logo {
 	 padding: 20px 0 0 30px;
}
	
}


@media only screen and (min-width : 992px) {

}